:root {
    --white-main: #F6F1F1;
    --blue-dark: #120136;
    --blue-semi-dark: #035AA6;
    --blue-light: #40BAD5;
    --orange-light: #FC961E;
    --yellow-light: #FCBF1E;
    --main-font:'Roboto', sans-serif;
  }

main {

    background-color: var(--white-main);
    font-family: var(--main-font);
}

.Container-Cards {
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;

}

.Container-Cards div {

    width: 600px;
    height: 300px;
    border-color: black;
    border-width: 1px;
    border-style: dotted;
    text-align: center;
    text-justify: auto;
}